<div class="contents-box">
  <%= link_to user_path(user), class: "contents-link" do %>
  <div class="image-box">
    <%= image_tag user.image, class: "contents-image" %>
  </div>
  <h3 class="contents-title">
    <%= user.shop_name %>
  </h3>
  <p class="contents-info">
    <%= user.category.name %>
  </p>
  <% end %>
</div>