// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// menus/show.html.erb
.buttons-area {
  display: flex;
  justify-content: center;
  .button-area.left {
    margin-right: 20px;
  }
}

.button.menu {
  margin-top: 20px;
  margin-bottom: 40px;
}

#menu-price {
  display: inline-block;
}
