// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ヘッダーとフッターも含めて記述

$theme1: #edd5be;
$theme2: #eda65f;
$theme3: #ed7700;

  .header-container {
    background-color: $theme1;
    color: $theme3;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  align-items: center;
  .header-right {
    .header-menu {
      display: flex;
      .menu-list {
        list-style: none;
        margin: 0 10px;
        .menu-link {
          text-decoration: none;
        }
      }
    }
  }
}

.footer-container {
  background-color: $theme1;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-inner {
    h3 {
      text-align: center;
      margin: 10px 0;
    }
    p {
      text-align: center;
      font-size: 0.7em;
      margin-bottom: 10px;
    }
  }
}