// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme1: #edd5be;
$theme2: #eda65f;
$theme3: #ed7700;

body {
  width: 80vw;
  margin: 0 auto;
}

// users/index.html.erb
.main-title {
  margin: 15px 0;
  text-shadow: $theme1 4px 4px;
  text-align: center;
}

.users-index {
  .users {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    .image-box {
      width: 300px;
      height: 230px;
      margin: 10px 20px;
      .image {
        width: 100%;
        height: 100%;
      }
    }
    .info-box {
      margin: 10px 20px;
      .shop-name, .category, .full-address, .business-hours, .holiday {
        font-size: 1.1rem;
        margin-bottom: 10px;
      }
    }
  }
}

// users/show.html.erb
.user-show {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  .main-image {
    width:45%;
    .pic {
      width: 100%;
      height: auto;
    }
  }
  .main-info {
    width: 40%;
    padding: 15px 0 0;
    .info-box {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      margin-bottom: 20px;
      .icon {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.button-area {
  margin-bottom: 60px;
  .edit-area {
    text-align: center;
    .button {
      display: inline-block;
      padding: 20px 40px;
      background-color: $theme1;
      color: $theme3;
      text-decoration: none;
      &:hover {
        background-color: $theme3;
        color: $theme1;
      }
    }
  }
}

// devise関係のビューファイル
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  table {
    border-collapse: collapse;
    th {
      border: 1px solid gray;
      padding: 10px;
      text-align: right;
      background-color: lightgray;
    }
    td {
      border: 1px solid lightgray;
      padding: 10px;
      .form-input {
        width: 100%;
        border: 1px solid #f3f3f3;
      }
      .form-select {
        width: 50%;
        border: 1px dotted #f3f3f3;
      }
    }
  }
  .button {
    display: inline-block;
    padding: 20px 40px;
    margin: 20px 0;
    background-color: $theme1;
    color: $theme3;
    text-decoration: none;
    &:hover {
      background-color: $theme3;
      color: $theme1;
    }
  }
}

.field.remember {
  margin-top: 20px;
}