// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$theme1: #4ECDC4;
$theme2: #FF6B6B;
$theme3: #F7FFF7;
$sub1: #FFE66D;
$sub2: #FFA96C;
$sub3: #1A535C;

@media screen and (max-width:639px) {

  // users/index.html.erb
  .main-title {
    margin: 15px 0;
    text-shadow: $theme1 1px 1px 2px;
    text-align: center;
  }

  .main-title.top {
    padding-top: 62px;
  }

  .users-index {
    .users {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin: 0 auto 30px;
      background-color: $theme3;

      .image-box {
        width: 100%;
        height: auto;
        margin: 10px 20px;

        .image {
          width: 100%;
          height: 100%;
        }
      }

      .info-box {
        width: 100%;
        height: auto;
        margin: 10px 20px;

        .shop-name,
        .category,
        .full-address,
        .business-hours,
        .holiday {
          font-size: 1.1rem;
          margin-bottom: 10px;
        }
      }
    }
  }

  // users/show.html.erb
  .model-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .main-image {
      width: 90%;

      .pic {
        width: 100%;
        height: auto;
      }
    }

    .main-info {
      width: 90%;
      padding: 15px 0 0;

      .info-box {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        margin-bottom: 20px;

        .icon {
          margin-right: 20px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .button-area {
    margin-bottom: 40px;

    .edit-area {
      text-align: center;
    }
  }

  .button {
    display: inline-block;
    padding: 20px 40px;
    background-color: $theme1;
    color: $theme3;
    text-decoration: none;
    box-shadow: 5px 5px 10px $sub3;
    font-size: 1.1rem;

    &:hover {
      background-color: $theme3;
      color: $theme1;
    }
  }

  .button.delete {
    display: inline-block;
    padding: 20px 40px;
    background-color: $theme2;
    color: $theme3;
    text-decoration: none;
    box-shadow: 5px 5px 10px $sub3;

    &:hover {
      background-color: $theme3;
      color: $theme2;
    }
  }

  .map {
    height: 400px;
    width: 90%;
    margin: 0 auto 40px;
  }

  .main-contents.user-menus {
    margin-bottom: 60px;
    margin-top: 0;

    .contents-bar {
      .no-menus {
        margin: 0 auto;
      }
    }
  }

  // devise関係のビューファイル
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    table {
      border-collapse: collapse;
      margin-bottom: 15px;
      table-layout: fixed;
      width: 90%;

      th {
        border: 1px solid gray;
        padding: 10px;
        text-align: center;
        background-color: lightgray;
        display: block;
      }

      td {
        border: 1px solid lightgray;
        padding: 10px;
        display: block;

        .form-input {
          width: 100%;
          border: 1px solid #f3f3f3;
        }

        .form-select {
          width: 70%;
          border: 1px dotted #f3f3f3;
        }
      }
    }
  }

  .button.registration {
    margin-bottom: 40px;
    margin-top: 25px;
  }

  // ログイン画面のリメンバー・ミー
  .field.remember {
    margin-bottom: 30px;
  }

  // エラーメッセージ（Userモデルとその他のモデルのエラーメッセージ）
  .error-explanation {
    margin-bottom: 15px;

    ul {
      li {
        list-style: none;
        color: red;
      }
    }
  }
}

@media only screen and (min-width:640px) and (max-width:1023px) {

  // users/index.html.erb
  .main-title {
    margin: 15px 0;
    text-shadow: $theme1 1px 1px 2px;
    text-align: center;
    font-size: 1.6rem;
  }

  .main-title.top {
    padding-top: 62px;
  }

  .users-index {
    .users {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 90%;
      margin: 0 auto;

      .image-box {
        width: 50%;
        height: auto;
        margin: 10px 20px;

        .image {
          width: 100%;
          height: 100%;
        }
      }

      .info-box {
        width: 50%;
        height: auto;
        margin: 10px 20px;

        .shop-name,
        .category,
        .full-address,
        .business-hours,
        .holiday {
          font-size: 1.1rem;
          margin-bottom: 10px;
        }
      }
    }
  }

  // users/show.html.erb
  .model-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .main-image {
      width: 60%;

      .pic {
        width: 100%;
        height: auto;
      }
    }

    .main-info {
      width: 60%;
      padding: 15px 0 0;

      .info-box {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        margin-bottom: 20px;

        .icon {
          margin-right: 30px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .button-area {
    margin-bottom: 40px;

    .edit-area {
      text-align: center;
    }
  }

  .button {
    display: inline-block;
    padding: 20px 40px;
    background-color: $theme1;
    color: $theme3;
    text-decoration: none;
    box-shadow: 5px 5px 10px $sub3;
    font-size: 1.1rem;

    &:hover {
      background-color: $theme3;
      color: $theme1;
    }
  }

  .button.delete {
    display: inline-block;
    padding: 20px 40px;
    background-color: $theme2;
    color: $theme3;
    text-decoration: none;
    box-shadow: 5px 5px 10px $sub3;

    &:hover {
      background-color: $theme3;
      color: $theme2;
    }
  }

  .map {
    height: 350px;
    width: 90%;
    margin: 0 auto 40px;
  }

  .main-contents.user-menus {
    margin-bottom: 60px;
    margin-top: 0;

    .contents-bar {
      .no-menus {
        margin: 0 auto;
      }
    }
  }

  // devise関係のビューファイル
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      border-collapse: collapse;
      margin-bottom: 15px;

      th {
        border: 1px solid gray;
        padding: 10px;
        text-align: center;
        background-color: lightgray;
      }

      td {
        border: 1px solid lightgray;
        padding: 10px;

        .form-input {
          width: 100%;
          border: 1px solid #f3f3f3;
        }

        .form-select {
          width: 70%;
          border: 1px dotted #f3f3f3;
        }
      }
    }
  }

  .button.registration {
    margin-bottom: 40px;
    margin-top: 25px;
  }

  // ログイン画面のリメンバー・ミー
  .field.remember {
    margin-bottom: 30px;
  }

  // エラーメッセージ（Userモデルとその他のモデルのエラーメッセージ）
  .error-explanation {
    margin-bottom: 15px;

    ul {
      li {
        list-style: none;
        color: red;
      }
    }
  }
}

@media screen and (min-width:1024px) {
  /*pc用のcssを記述*/

  // users/index.html.erb
  .main-title {
    margin: 15px 0;
    text-shadow: $theme1 1px 1px 2px;
    text-align: center;
    font-size: 1.6rem;
    padding-top: 62px;
  }

  .main-title.top {
    padding-top: 62px;
  }

  .users-index {
    .users {
      display: flex;
      align-items: center;
      justify-content: left;
      width: 60%;
      margin: 0 auto;

      .image-box {
        width: 50%;
        height: auto;
        margin: 10px 20px;

        .image {
          width: 100%;
          height: 100%;
        }
      }

      .info-box {
        width: 50%;
        height: auto;
        margin: 10px 20px;

        .shop-name,
        .category,
        .full-address,
        .business-hours,
        .holiday {
          font-size: 1.1rem;
          margin-bottom: 10px;
        }
      }
    }
  }

  // users/show.html.erb
  .model-show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;

    .main-image {
      width: 45%;

      .pic {
        width: 100%;
        height: auto;
      }
    }

    .main-info {
      width: 40%;
      padding: 15px 0 0;

      .info-box {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        margin-bottom: 20px;

        .icon {
          margin-right: 20px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .button-area {
    margin-bottom: 40px;

    .edit-area {
      text-align: center;
    }
  }

  .button {
    display: inline-block;
    padding: 20px 40px;
    background-color: $theme1;
    color: $theme3;
    text-decoration: none;
    box-shadow: 5px 5px 10px $sub3;
    font-size: 1.1rem;

    &:hover {
      background-color: $theme3;
      color: $theme1;
    }
  }

  .button.delete {
    display: inline-block;
    padding: 20px 40px;
    background-color: $theme2;
    color: $theme3;
    text-decoration: none;
    box-shadow: 5px 5px 10px $sub3;

    &:hover {
      background-color: $theme3;
      color: $theme2;
    }
  }

  .map {
    height: 500px;
    width: 90%;
    margin: 0 auto 40px;
  }

  .main-contents.user-menus {
    margin-bottom: 60px;
    margin-top: 0;

    .contents-bar {
      .no-menus {
        margin: 0 auto;
      }
    }
  }

  // devise関係のビューファイル
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      border-collapse: collapse;
      margin-bottom: 15px;

      th {
        border: 1px solid gray;
        padding: 10px;
        text-align: center;
        background-color: lightgray;
      }

      td {
        border: 1px solid lightgray;
        padding: 10px;

        .form-input {
          width: 100%;
          border: 1px solid #f3f3f3;
        }

        .form-select {
          width: 70%;
          border: 1px dotted #f3f3f3;
        }
      }
    }
  }

  .button.registration {
    margin-bottom: 40px;
    margin-top: 25px;
  }

  // ログイン画面のリメンバー・ミー
  .field.remember {
    margin-bottom: 15px;
  }

  // エラーメッセージ（Userモデルとその他のモデルのエラーメッセージ）
  .error-explanation {
    margin-bottom: 15px;

    ul {
      li {
        list-style: none;
        color: red;
      }
    }
  }
}